$link-color:#5c5320;
$link-color-two: rgb(5, 87, 5);
$link-color-three:rgb(9, 128, 9);
$link-color-four: rgb(255, 251, 0);
$link-color-five:rgb(235, 252, 235);
#css-zen-garden{
    background-color: green;
}

div.page-wrapper{
    section.intro{
        header{
               text-align: center;
                background-image: url(https://cdn.pixabay.com/photo/2018/08/10/03/19/lane-3596034_960_720.jpg);
                border: 10px solid white;
                border-radius: 5px;
            h1{
                font-family:cursive;
                font-size: 32px;
                color: white;
               
            }
            h2{
                font-family:cursive;
                font-size: 20px;
                color: white;
            }
        }
        
        div.summary{
            
            p{
                font-size: 17px;
                padding: 0px 40px 0px 40px;
                font-family:Arial, Helvetica, sans-serif;
                a{
                    font-weight: bolder;
                    color:$link-color;
                    text-decoration: none;
                    
                    
                }
                a:hover{
                    color:$link-color-four;
                }
            }
        }
        div.preamble{
            
            h3{
                font-family:Helvetica, serif;
                background-color:$link-color-two;
                color: $link-color-five;
                
                padding: 10px 20px 10px 20px;
                text-align: center;

            }
            p{
                padding: 0px 40px 0px 40px;
                font-family:Arial, Helvetica, sans-serif;
                
            }

        }
    }

    background-color:rgba(255, 255, 255, 0.384);
    border-radius: 5px;
    
    div[role="main"]{
        
        div.explanation{
            h3{
                font-family:Helvetica, serif;
                background-color: $link-color-two;
                color: $link-color-five;
                padding: 10px 20px 10px 20px;
                text-align: center;
            }
            p{
                padding: 0px 40px 0px 40px;
                font-family:Arial, Helvetica, sans-serif;
            }
        }
        div.participation{
            h3{
                font-family: Helvetica, serif;
                background-color: $link-color-two;
                color: $link-color-five;
                padding: 10px 20px 10px 20px;
                text-align: center;
            }
            a{
                color: $link-color;
                text-decoration: none;
                font-weight: bolder;
            }
            a:hover{
                color: $link-color-four;
            }
            p{
                padding: 0px 40px 0px 40px;
                font-family:Arial, Helvetica, sans-serif;
            }

        }
        div.benefits{
            h3{
                font-family:Helvetica, serif;
                background-color: $link-color-two;
                color: $link-color-five;
                padding: 10px 20px 10px 20px;
                text-align: center;
                
            }
            p{
                padding: 0px 40px 0px 40px;
                font-family:Arial, Helvetica, sans-serif;
            }

        }
        div.requirements{
            h3{
                font-family: Helvetica, serif;
                background-color: $link-color-two;
                color: $link-color-five;
                padding: 10px 20px 10px 20px;
                text-align: center;

            }
            p{
                padding: 0px 40px 0px 40px;
                font-family:Arial, Helvetica, sans-serif;
                
                a{
                    color: $link-color;
                    text-decoration: none;
                    font-weight: bolder;
                }
                a:hover{
                    color:$link-color-four;
                }
            }
            p[role="contentinfo"]{
                font-family:Arial, Helvetica, sans-serif;
                color: white;
                background-image: url(https://cdn.pixabay.com/photo/2016/07/05/16/53/leaves-1498985_960_720.jpg);
                font-family: cursive;
                font-size: 24px;
                text-align: center;
                border: 10px solid white;
                border-radius: 5px;
                a{
                    color: hsl(51, 94%, 81%);
                    text-decoration: none;
                    font-weight: bolder;
                }
                a:hover{
                    color: hsl(51, 85%, 68%);
                }
                
                
            }
        }
        footer {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
        }
        footer>a{
            text-align: center;
            width: 200px;
            color: white;
            background-color: $link-color-two;
            margin: 10px;
            padding: 10px 10px 10px 10px;
            font-size: 20px;
            text-decoration: none;
            font-family:sans-serif;
            border-radius: 5px;

        }
        footer>a:hover {
            box-shadow: black 5px 5px 10px;
            background-color: red;
        }
        
    }


    aside.sidebar{

        background-color:$link-color-five;
        border-radius: 5px;

        div.wrapper{
            
            div.design-selection{
                
                h3.select{
                    background-color: $link-color-two;
                    border-radius: 1px;
                    color: white;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-size: 24px;
                    padding: 10px 20px;
                }
                nav[role="navigation"]{
                    
                    
                    ul{
                        padding: 0px 0px 0px 20px;
                        
                       li{
                           font-family: monospace;
                           a{
                            text-decoration: none; 
                            color: $link-color-three;
                        font-weight: bolder;  
                           }
                           a:hover{
                            color: red;
                        }
                       } 
                        list-style-type: none;
                        
                        
                    }
                    
                }
            }

            div.design-archives{
                h3.archives{
                    background-color: $link-color-two;
                    border-radius: 1px;
                    color: white;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-size: 24px;
                    padding: 10px 20px;
                }
                ul{
                    padding: 0px 0px 0px 20px;
                   li{
                       font-family: monospace;
                       a{
                        text-decoration: none; 
                        color: $link-color-three;
                        font-weight: bolder;  
                       }
                       a:hover{
                           color: red;
                       }
                   } 
                    list-style-type: none;
                    
                }
                
            }

            div.zen-resources{
                h3.resources{
                    background-color: $link-color-two;
                    border-radius: 1px;
                    color:white;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-size: 24px;
                    padding: 10px 20px;
                }
                ul{
                    padding: 0px 0px 20px 20px;
                   li{
                       font-family: monospace;
                       a{
                        text-decoration: none;   
                        color: $link-color-three;
                        font-weight: bolder;
                       }
                       a:hover{
                        color: red;
                    }
                   } 
                    list-style-type: none;
                    
                }
            }

        }

    }
}

div.extra1{
    padding:5px;
}